{{ define "main"}}
<main id="main">
    <div class="not-found">
      <!-- reference  -->
        <h1 style="color:#FFA86A; text-align:center" class="error-emoji"> </h1>
        <p style="color:#FFA86A; text-align:center">/* 404 page not found. */</p>
        <p style="color:#FFA86A; text-align:center"><a href="{{ "/" | relLangURL }}">↑ Back Home ↑</a></p>
    </div>
</main>
<script>
    var errorEmojiContainer = document.getElementsByClassName('error-emoji')[0];
    var emojiArray = [
      '\\(o_o)/', '(*゜ー゜*)', '(˚Δ˚)b', 'Ｏ(≧口≦)Ｏ', '(≥o≤)', 'Σ(っ °Д °;)っ', '(·_·)',
      '(=\'X\'=)', '(>_<)', '(;-;)', '\\(^Д^)/', 'w(ﾟДﾟ)w', 'Σ( ° △ °|||)︴',
    ];
    var errorEmoji = emojiArray[Math.floor(Math.random() * emojiArray.length)];
    errorEmojiContainer.appendChild(document.createTextNode(errorEmoji));
  </script>
{{ end }}