{{ $baseurl := .Site.BaseURL }}
<h1 class="site-title">
  <span class="base05">[</span><span class="base08">a</span><span class="base09">l</span><span class="base0a">e</span><span class="base0b">x</span><span class="base0c">(❤</span><span class="base0d">ω</span><span class="base0e">❤)</span><span class="base05">]</span><span class="base05"># _</span>
</h1>

<div class="hero-logo">
  <img src="{{ "img/base16-eighties.svg" | relURL }}">
</div>

<div style="text-align: center;">
  <a class="base05" href="{{.Site.BaseURL}}/aboutme">About</a>
  <a class="base05" href="{{ .Site.LanguagePrefix | absURL }}/index.xml">RSS</a>
  <a class="base05" href="mailto:{{.Site.Params.email}}">Mail</a>
  <a class="base05" href="https://twitter.com/Alex_Hans">Twitter</a>
</div>
